.color-index{
	background-color: #FFC02D
}

.no-float{
	float: none;
	position: relative;
}
.espacio-altura{

	margin-top: 200px;
}

.colorp{
	background-color:#FCFFF5
}
.ubispan{
	font-family: 'Candal', sans-serif;
	top:100px;
	
}

	
	